
<center id="show">
 
</center>





<div id="assignmentResult">
  <h2 id="assignmentTitle"></h2>
  <p id="assignmentBody"></p>
</div>

<script type="text/javascript" charset="utf-8">

fetch('../api/assignments/<%= @assignment.id %>' )
.then(res => res.json())
.then(data => {
  console.log(data)
  as = new Assignment(data)
        
  var post = data;
  $("#show").html(as.showAssignment());
})


</script>
