<center>
    <div>
        <h1>Editing Comment Feedback</h1>
    </div>
        <%= render 'form', comment_feedback: @comment_feedback %>

        <%= link_to 'Show', @comment_feedback %> |
        <%= link_to 'Back', comment_feedbacks_path %>
     
</center>
